@charset "UTF-8";
body {
    text-align: left;
}
.row {
    display: flex;           /*设置为flex布局*/
    justify-content: center; /*水平居中*/
    align-items: center;     /*垂直居中*/
}
span {
    color: #ff9599;
}
#red {
    color: #ff1323;
}
.form {
    text-align: center;
}
.zhifu {
    text-align: center;
}
.about {
    text-align: center;
    margin: 10px;
}
.footer {
    text-align: center;
    margin: 10px;
}
.delete {
    text-decoration:line-through;
}
.images-ku {
    color: #237a6b;
    font-size: large;
    text-align: center;
}